<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SMShound.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <SMShound.Properties.Settings>
            <setting name="SegundosEntreCiclos" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FicheroSalida" serializeAs="String">
                <value>MensajesProcesados.csv</value>
            </setting>
            <setting name="FicheroError" serializeAs="String">
                <value>debug.txt</value>
            </setting>
            <setting name="FicheroEnlaces" serializeAs="String">
                <value>enlaces.txt</value>
            </setting>
            <setting name="MaximoMensajesRepetidosHastaFin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SMTPservidor" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPpuerto" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SMTPusarSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SMTPusuario" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPclave" serializeAs="String">
                <value />
            </setting>
            <setting name="FicheroPalabrasClave" serializeAs="String">
                <value>palabras_clave.txt</value>
            </setting>
        </SMShound.Properties.Settings>
    </userSettings>
</configuration>
